<%= render 'shared/navbar' %>

<h2> <%= @user.first_name %></h2>

<h3> Reservations: </h3>
<ul>
<% @reservations.each do |reservation|%>
  <% if @user.id == reservation.user_id %>
  <li> <strong> <%= @user.first_name %> </strong> booked <%= reservation.court.name %> from <%= reservation.start_date %> to <%= reservation.end_date %>  </strong> </li>
  <% end %>
<% end %>
</ul>
