<%= render 'shared/navbar' %>

<h2> Hi <%= @user.first_name %>, welcome back </h2>

<h3> Your reservations: </h3>
<ul>
<% @reservations.each do |reservation|%>
  <% @users.each do |user| %>
  <% if user.id == reservation.user_id %>
  <li> <strong> You </strong> booked <%= reservation.court.name %> from <%= reservation.date %> to <%= reservation.end_date %>  </strong> </li>
  <% end %>
  <% end %>
<% end %>
</ul>
