<%= render 'shared/navbar' %>

<main class="d-flex justify-content-center align-items-center">
  <section>
    <ul class="p-0 my-5 d-flex w-80 flex-wrap justify-content-center">
    <% @courts.each do |court| %>
      <li>
      <div class='p-3 m-4 border rounded'>
        <div class="upper">
          <%= cl_image_tag court.photo.key, height: 300, width: 400 %>
        </div>
        <div class="lower text-left my-3">
          <h4> <%= link_to court.name, court_path(court), class: "text-dark"  %> </h3>
          <p class="text-dark"> R$<%= court.pricing %>0 </p>
        </div>
      </div>
      </li>
    <% end %>
    </ul>

    <% if policy(Court).new? %>
    <%= link_to "Add a court!", new_court_path, class: "btn-primary p-3" %>
    <% end %>
  </section>
</main>
